Repository Peugcam/OMA.AI: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint-custom, vulture, radon-cc, radon-mi

.pre-commit-config.yaml:

# Pre-commit hooks configuration for OMA project
# Install: pip install pre-commit
# Setup: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3
        args: [--line-length=100]

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black, --line-length=100]

  # Flake8 with plugins for enhanced checking
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==24.10.31
          - flake8-comprehensions==3.15.0
          - flake8-simplify==0.21.0
          - flake8-docstrings==1.7.0
          - flake8-annotations==3.1.1
          - pep8-naming==0.14.1
        args: [--config=.flake8]

  # Python linting with custom checkers
  - repo: local
    hooks:
      - id: pylint-custom
        name: Pylint with custom checkers
        entry: pylint
        language: system
        types: [python]
        args: [
          --rcfile=.pylintrc,
          --load-plugins=pylint_custom_checkers,
          --disable=all,
          --enable=duplicate-try-except,duplicate-api-call,hardcoded-string-constant,missing-async-error-handling,excessive-nesting,too-many-locals,agent-missing-method,agent-missing-logging
        ]
        exclude: ^(venv|env|\.venv|node_modules|__pycache__|outputs)/

  # Duplicate code detection
  - repo: local
    hooks:
      - id: jscpd
        name: Check for duplicate code (jscpd)
        entry: bash -c 'npm run check:duplicates || true'
        language: system
        pass_filenames: false
        always_run: true
        verbose: true

  # Python security checks
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args: [-c, .bandit.yaml]
        exclude: ^(test_|tests/)

  # Check for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: detect-private-key
      - id: mixed-line-ending

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-tqdm]
        args: [--config-file=pyproject.toml]
        exclude: ^(test_|venv|env|\.venv)

  # Dead code detection
  - repo: local
    hooks:
      - id: vulture
        name: Find dead code (vulture)
        entry: vulture
        language: system
        types: [python]
        args: [--min-confidence=80]
        exclude: ^(test_|tests/|venv|env|\.venv)

  # Code complexity analysis
  - repo: local
    hooks:
      - id: radon-cc
        name: Check code complexity (radon)
        entry: radon cc
        language: system
        types: [python]
        args: [--min=B, --show-complexity]
        pass_filenames: true
        exclude: ^(test_|tests/|venv|env|\.venv)

      - id: radon-mi
        name: Check maintainability index (radon)
        entry: radon mi
        language: system
        types: [python]
        args: [--min=B, --show]
        pass_filenames: true
        exclude: ^(test_|tests/|venv|env|\.venv)

🚀 Add production-ready foundation: REST API + Docker + CI/CD
  .dockerignore
  .env.example
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
  API_QUICKSTART.md
  API_README.md
  COMPLETE_IMPLEMENTATION_SUMMARY.md
  DOCKER_CI_CD_SUMMARY.md
  DOCKER_QUICKSTART.md
  Dockerfile
  PRODUCTION_FOUNDATION_SUMMARY.md
  PRODUCTION_READINESS_ANALYSIS.md
  PRODUCTION_READINESS_REPORT.md
  api/__init__.py
  api/config.py
  api/exceptions.py
  api/logger.py
  api/main.py
  api/models.py
  api/routers/__init__.py
  api/routers/health.py
  api/routers/stats.py
  api/routers/videos.py
  docker-compose.yml
  requirements-api.txt
  run_api.py
  setup_api.bat
  tests/test_api.py
Due: pylint-custom, vulture, radon-cc, radon-mi

📚 Add comprehensive getting started guide
  GETTING_STARTED.md
Due: none

📊 Add comprehensive cloud providers comparison
  CLOUD_COMPARISON.md
Due: none

🔬 Add Dharma.AI and CrewAI architecture comparison
  DHARMA_AI_COMPARISON.md
Due: none

🌍 Add comprehensive global AI systems comparison
  GLOBAL_AI_SYSTEMS_COMPARISON.md
Due: none

🧠 Adiciona análise completa de ReAct & Reflection para agentes OMA
  REACT_REFLECTION_ANALYSIS.md
Due: none

✨ Implementa arquitetura híbrida ReAct + Reflection
  agents/script_agent.py
  agents/supervisor_agent.py
  agents/visual_agent.py
  test_react_reflection.py
Due: pylint-custom, vulture, radon-cc, radon-mi

📚 Adiciona documentação completa da implementação ReAct + Reflection
  REACT_REFLECTION_IMPLEMENTATION.md
Due: none

🐛 Fix: Adiciona import json no script_agent
  agents/script_agent.py
  test_simple.py
Due: pylint-custom, vulture, radon-cc, radon-mi

🧪 Adiciona teste end-to-end completo com ReAct + Reflection
  test_full_video.py
Due: pylint-custom

🚀 Pipeline completa testada: 5 agentes com ReAct + Reflection
  test_complete_pipeline.py
Due: pylint-custom

📚 Adiciona guia completo Production Ready
  PRODUCTION_READY.md
Due: none

🎬 Melhorias de produção: Visual híbrido + Fixes críticos
  agents/__init__.py
  agents/editor_agent.py
  agents/script_agent.py
  agents/visual_agent.py
  core/__init__.py
  core/scene_classifier.py
  mcp/__init__.py
  mcp/schemas.py
  mcp/server.py
  mcp/tools.py
Due: pylint-custom, vulture, radon-cc, radon-mi

🤗 Prepare for Hugging Face Spaces deployment
  Dockerfile
  README.md
  app.py
  render.yaml
  requirements.txt
Due: pylint-custom, vulture, radon-cc, radon-mi

Add agents and core directories for video generation
  app.py
Due: pylint-custom, vulture, radon-cc, radon-mi

📦 Add GCP deployment configuration files
  .gcloudignore
  DEPLOY_GCP.md
  DEPLOY_MANUAL.md
  deploy-gcp.sh
Due: none

🔧 Fix: Include quick_generate.py in Cloud Run Docker image
  Dockerfile.cloudrun
Due: none

🚀 Complete Cloud Run deployment configuration
  deploy-gcp.sh
Due: none

🔧 Fix: Include Dockerfile.cloudrun in gcloud builds
  .gcloudignore
Due: none

🔧 Fix: Resolve langchain-core dependency conflict
  requirements.txt
Due: none

🔧 Fix: Loosen dependency versions to resolve conflicts
  requirements.txt
Due: none

Fix aiofiles version conflict with gradio
  requirements.txt
Due: none

Ensure Python files are included in Cloud Build
  .gcloudignore
Due: none

Separate quick_generate.py COPY for debugging
  Dockerfile.cloudrun
Due: none

Fix .gcloudignore to ensure quick_generate.py is included
  .gcloudignore
Due: none

Use wildcard to copy all .py files and verify quick_generate.py
  Dockerfile.cloudrun
Due: none

Add debug logging to find quick_generate.py
  app.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Improve error handling for quick_generate import
  video_dashboard_complete.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Add missing openai package to requirements
  requirements.txt
Due: none

Fix hardcoded Windows paths for Cloud Run compatibility
  agents/editor_agent.py
  agents/visual_agent.py
  core/paths.py
  deploy_final.txt
  deploy_log.txt
  deploy_log_new.txt
  test_cloudrun_playwright.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Complete editor_agent.py path migration to dynamic system
  agents/editor_agent.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Export path functions from core module
  core/__init__.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Fix import-time instantiation in visual_agent.py
  agents/visual_agent.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Fix all import-time instantiations in agent files
  agents/audio_agent.py
  agents/editor_agent.py
Due: pylint-custom, vulture, radon-cc, radon-mi

Adicionar edge-tts para geração de áudio
  requirements.txt
Due: none

Add ElevenLabs TTS support with Edge TTS fallback
  agents/audio_agent.py
  requirements.txt
Due: pylint-custom, vulture, radon-cc, radon-mi

Force Docker cache bust for requirements rebuild
  Dockerfile.cloudrun
Due: none

Simplify Dockerfile to single-stage build
  Dockerfile.cloudrun
Due: none

Fix TTS import logic and improve error handling
  agents/audio_agent.py
Due: pylint-custom, vulture, radon-cc, radon-mi
